<html>
    <head>
       <!--STYLES FILES-->
       <link rel="stylesheet" type="text/css" href="/CSS/StylesContact.css">
       <LINK rel="icon" href="./Logo.png" type="image/png">
       <title>TreeBook</title>
   </head>
   <body>
       <header>
    <!--DIV MENU NAV-->
           <nav>
               <div>
                   <a href="/Index.html">Main</a>
                   <a href="/Views/US.html">Us</a>
                   <a href="/Views/Galery.html">Gallery</a>
                   <a href="#">Contact</a>
               </div>
           </nav>
       </header>
   <!--SEPARADORES & LOGO-->
       <div class="barra1"></div>
       <div class="barra2"></div>
       <img class="logo1" src="/Assets/Images/Asset 1.png"/>
   <!--1 SECCION-->
       <img class="HeroIMG" src="/Assets/Images/Asset 15.png">
       <section class="seccion1">
           <div class="Title">CONTACT</div>
           <div class="sub2">ALL OUR NETWORKS</div>
           <div class="blanco"></div>
       </section>
    <!--2 SECCION-->
    <section class="seccion2">
        <div class="negro"></div>
        <div class="location">
            <img class="local" src="/Assets/Images/Contact/Asset 2.png">
            <p class="sub3">LOCATION</p>
            <P class="sub4">Krakow, Poland</P>
        </div>
        <div class="Telephone">
            <img class="local" src="/Assets/Images/Contact/Asset 4.png">
            <p class="sub5">PHONE NUMBER</p>
            <P class="sub4">+48 452255172</P>
        </div>
        <div class="correo">
            <img class="email" src="/Assets/Images/Contact/Asset 1.png">
            <p class="sub6">EMAIL</p>
            <a class="sub7" target="_blank" href="mailto:forero301@gmail.com">forero301@gmail.com</a>
        </div>
        <div class="RED">
            <img class="local" src="/Assets/Images/Asset 13.png">
            <p class="sub8">INSTAGRAM</p>
            <a href="https://www.instagram.com/treebook901/" class="sub9" target="_blank">@treebook901</a>
        </div>
    </section>
    <!--SECCION 3-->
    <section class="seccion3">
        <div class="negro2"></div>
        <img class="map" src="/Assets/Images/Contact/Asset 5.png">
        <div class="formulario">
            <form class="contact-form" method="get" action="/Views/Contact.html">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="name" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="phone number" id="phone number" name="phone number" required>
                </div>
                <div class="form-group">
                    <textarea cols="30" rows="7" class="form-control2" placeholder="message" id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="subb">
                </div>
            </form>
        </div>
    </section>
    <!--FOOTER-->
    <footer class="footer">
        <img class="mail" src="/Assets/Images/Asset 11.png">
        <img class="whats" src="/Assets/Images/Asset 12.png">
        <img class="inst" src="/Assets/Images/Asset 13.png">
        <a class="mail2" target="_blank" href="mailto:forero301@gmail.com">forero301@gmail.com</a>
        <p class="phone">48 452 255 172</p>
       <p><a href="https://www.instagram.com/treebook901/" class="inst2" target="_blank">@treebook901</a></p> 
    </footer>
    </body>
</html>