<html>
    <head>
       <!--STYLES FILES-->
       <link rel="stylesheet" type="text/css" href="/CSS/StylesGallery.css">
       <LINK rel="icon" href="./Logo.png" type="image/png">
       <title>TreeBook</title>
   </head>
   <body>
       <header>
    <!--DIV MENU NAV-->
           <nav>
               <div>
                   <a href="/Index.html">Main</a>
                   <a href="/Views/US.html">Us</a>
                   <a href="#">Gallery</a>
                   <a href="/Views/Contact.html">Contact</a>
               </div>
           </nav>
       </header>
   <!--SEPARADORES & LOGO-->
       <div class="barra1"></div>
       <div class="barra2"></div>
       <img class="logo1" src="/Assets/Images/Asset 1.png"/>
   <!--1 SECCION-->
       <img class="HeroIMG" src="/Assets/Images/Asset 14.png">
       <section class="seccion1">
           <div class="Title">GALLERY</div>
           <div class="sub2">VISUAL & ARTISTIC DEVELOPMENT</div>
           <div class="negro"></div>
           <div class="blanco"></div>
           <img class="marca" src="/Assets/Images/Asset 2.png">
           <div class="title2" id="grafica">GRAPHICS</div>
       </section>
   <!--2 SECCION-->
       <section class="seccion2">
            <div class="sub3">VISIONS EDITION</div>
            <div class="negro2"></div>
            <div class="azul"></div>
            <img class="asset1" src="/Assets/Images/Gallery/Asset 1.png">
            <img class="asset2" src="/Assets/Images/Gallery/Asset 2.png">
            <img class="asset3" src="/Assets/Images/Gallery/Asset 3.png">
            <div class="negro3"></div>
            <img class="asset5" src="/Assets/Images/Gallery/Asset 5.png">
            <img class="asset6" src="/Assets/Images/Gallery/Asset 6.png">
            <img class="asset7" src="/Assets/Images/Gallery/Asset 7.png">
            <img class="asset8" src="/Assets/Images/Gallery/Asset 8.png">
       </section>
   <!--3 SECCION-->
       <section class="seccion3">
            <div class="sub4">GARDEN EDITION</div>
            <div class="negro4"></div>
            <div class="rojo"></div>
            <img class="asset9" src="/Assets/Images/Gallery/Asset 9.png">
            <img class="asset10" src="/Assets/Images/Gallery/Asset 10.png">
            <img class="asset11" src="/Assets/Images/Gallery/Asset 11.png">
            <img class="asset12" src="/Assets/Images/Gallery/Asset 12.png">
            <img class="asset13" src="/Assets/Images/Gallery/Asset 13.png">
            <img class="asset14" src="/Assets/Images/Gallery/Asset 14.png">
       </section>
 <!--4 SECCION-->
       <section class="seccion4">
            <div class="sub5">NIGHTMARE EDITION</div>
            <div class="negro5"></div>
            <div class="marino"></div>
            <img class="asset15" src="/Assets/Images/Gallery/Asset 15.png">
            <img class="asset16" src="/Assets/Images/Gallery/Asset 16.png">
            <img class="asset17" src="/Assets/Images/Gallery/Asset 17.png">
            <img class="asset18" src="/Assets/Images/Gallery/Asset 18.png">
            <img class="asset19" src="/Assets/Images/Gallery/Asset 19.png">
            <img class="asset20" src="/Assets/Images/Gallery/Asset 20.png">
            <img class="asset21" src="/Assets/Images/Gallery/Asset 21.png">
            <img class="asset22" src="/Assets/Images/Gallery/Asset 22.png">
            <img class="asset23" src="/Assets/Images/Gallery/Asset 23.png">
       </section>
 <!--5 SECCION-->
       <section class="seccion5">
            <div class="sub6" id="sketch2">SKETCHBOOK EDITION</div>
            <div class="negro7"></div>
            <img class="asset24" src="/Assets/Images/Gallery/Asset 24.png">
            <img class="asset25" src="/Assets/Images/Gallery/Asset 25.png">
            <img class="asset26" src="/Assets/Images/Gallery/Asset 26.png">
            <img class="asset27" src="/Assets/Images/Gallery/Asset 27.png">
       </section>
 <!--6 SECCION-->
       <section class="seccion6">
            <div class="sub7">GENESIS EDITION</div>
            <div class="negro8"></div>
            <div class="verde"></div>
            <img class="asset28" src="/Assets/Images/Gallery/Asset 28.png">
            <img class="asset29" src="/Assets/Images/Gallery/Asset 29.png">
            <img class="asset30" src="/Assets/Images/Gallery/Asset 30.png">
            <img class="asset31" src="/Assets/Images/Gallery/Asset 31.png">
            <img class="asset32" src="/Assets/Images/Gallery/Asset 32.png">
            <img class="asset33" src="/Assets/Images/Gallery/Asset 33.png">
       </section>
 <!--7 SECCION-->
       <section class="seccion7">
            <div class="sub8">CHAOS EDITION</div>
            <div class="negro9"></div>
            <div class="naranja"></div>
            <img class="asset34" src="/Assets/Images/Gallery/Asset 34.png">
            <img class="asset35" src="/Assets/Images/Gallery/Asset 35.png">
            <img class="asset36" src="/Assets/Images/Gallery/Asset 36.png">
            <img class="asset37" src="/Assets/Images/Gallery/Asset 37.png">
            <img class="asset38" src="/Assets/Images/Gallery/Asset 38.png">
            <img class="asset39" src="/Assets/Images/Gallery/Asset 39.png">
            <img class="asset40" src="/Assets/Images/Gallery/Asset 40.png">
       </section>
 <!--8 SECCION-->
       <section class="seccion8">
            <div class="sub9" id="tshirt">T-SHIRTS EDITION</div>
            <div class="negro10"></div>
            <div class="amar"></div>
            <img class="asset41" src="/Assets/Images/Gallery/Asset 41.png">
            <img class="asset42" src="/Assets/Images/Gallery/Asset 42.png">
            <img class="asset43" src="/Assets/Images/Gallery/Asset 43.png">
            <img class="asset44" src="/Assets/Images/Gallery/Asset 44.png">
            <img class="asset45" src="/Assets/Images/Gallery/Asset 45.png">
            <img class="asset46" src="/Assets/Images/Gallery/Asset 46.png">
            <img class="asset47" src="/Assets/Images/Gallery/Asset 47.png">
            <img class="asset48" src="/Assets/Images/Gallery/Asset 48.png">
            <img class="asset49" src="/Assets/Images/Gallery/Asset 49.png">
            <img class="asset50" src="/Assets/Images/Gallery/Asset 50.png">
            <img class="asset51" src="/Assets/Images/Gallery/Asset 51.png">
            <img class="asset52" src="/Assets/Images/Gallery/Asset 52.png">
            <img class="asset53" src="/Assets/Images/Gallery/Asset 53.png">
            <img class="asset54" src="/Assets/Images/Gallery/Asset 54.png">
            <img class="asset55" src="/Assets/Images/Gallery/Asset 55.png">
            <img class="asset56" src="/Assets/Images/Gallery/Asset 56.png">
            <img class="asset57" src="/Assets/Images/Gallery/Asset 57.png">
            <img class="asset58" src="/Assets/Images/Gallery/Asset 58.png">
            <img class="asset59" src="/Assets/Images/Gallery/Asset 59.png">
            <img class="asset60" src="/Assets/Images/Gallery/Asset 60.png">
            <img class="asset61" src="/Assets/Images/Gallery/Asset 61.png">
            <img class="asset62" src="/Assets/Images/Gallery/Asset 62.png">
            <img class="asset63" src="/Assets/Images/Gallery/Asset 63.png">
            <img class="asset64" src="/Assets/Images/Gallery/Asset 64.png">
       </section>
    <!--FOOTER-->
    <footer class="footer">
        <img class="mail" src="/Assets/Images/Asset 11.png">
        <img class="whats" src="/Assets/Images/Asset 12.png">
        <img class="inst" src="/Assets/Images/Asset 13.png">
        <a class="mail2" target="_blank" href="mailto:forero301@gmail.com">forero301@gmail.com</a>
        <p class="phone">48 452 255 172</p>
       <p><a href="https://www.instagram.com/treebook901/" class="inst2" target="_blank">@treebook901</a></p> 
    </footer>
    </body>
</html>