<html>
    <head>
       <!--STYLES FILES-->
       <link rel="stylesheet" type="text/css" href="/CSS/StylesUS.css">
       <LINK rel="icon" href="./Logo.png" type="image/png">
       <title>TreeBook</title>
   </head>
   <body>
       <header>
    <!--DIV MENU NAV-->
           <nav>
               <div>
                   <a href="/Index.html">Main</a>
                   <a href="#">Us</a>
                   <a href="/Views/Galery.html">Gallery</a>
                   <a href="/Views/Contact.html">Contact</a>
               </div>
           </nav>
       </header>
   <!--SEPARADORES & LOGO-->
       <div class="barra1"></div>
       <div class="barra2"></div>
       <img class="logo1" src="/Assets/Images/Asset 1.png"/>
   <!--1 SECCION-->
       <img class="HeroIMG" src="/Assets/Images/US/Asset 1.png">
       <section class="seccion1">
           <div class="Title">US</div>
           <div class="sub2">OPEN & SIMPLE CONNECTION</div>
           <div class="negro"></div>
       </section>
    <!--2 SECCION-->
    <section class="seccion2">
        <div class="Azul"></div>
        <img class="II" src="/Assets/Images/US/Asset 2.png">
        <div class="sub3">Treebook was born with the idea of artisan collaboration that includes various artistical crafts.</div>
        <ul>
            <li>SKETCH</li>
            <li>SCREEN PRINT</li>
            <li>MUSIC ART</li>
            <li>MARBLING</li>
            <li>SKETCHBOOK</li>
            <li>BINDING</li>
        </ul>
        <img class="foto" src="/Assets/Images/US/Asset 3.png">
    </section>
    <!--FOOTER-->
    <footer class="footer">
        <img class="mail" src="/Assets/Images/Asset 11.png">
        <img class="whats" src="/Assets/Images/Asset 12.png">
        <img class="inst" src="/Assets/Images/Asset 13.png">
        <a class="mail2" target="_blank" href="mailto:forero301@gmail.com">forero301@gmail.com</a>
        <p class="phone">48 452 255 172</p>
       <p><a href="https://www.instagram.com/treebook901/" class="inst2" target="_blank">@treebook901</a></p> 
    </footer>
    </body>
</html>